/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #757575;
}

.header:hover {
  background-color: #757575c0;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-home {
  display: block;
  width: 35px;
  height: 35px;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
}

.nav-item {
  padding-right: 50px;
}

.nav-link {
  max-width: 44px;
  min-height: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.63;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

.section-upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.section-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #282828;
  max-width: 245px;
  margin-bottom: 25px;
}

.section-header-text {
  max-width: 485px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #bdbdbd;
}

.section-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pic-phone {
  display: block;
  border-radius: 5px;
}

.pic-phone:hover {
  opacity: 0.7;
}

.section-left-side {
  text-align: right;
  padding-right: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-side-up {
  margin-bottom: 50px;
}

.section-right-side {
  text-align: left;
  padding-left: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-text-content {
  width: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #bdbdbd;
}

.section-text-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #757575;
  margin-bottom: 25px;
}

.metro, .metro-reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.metro-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.metro, .metro-reverse {
  margin-bottom: 35px;
}

.metro-pic {
  width: 100%;
}

.metro-pic:hover {
  opacity: 0,7;
}

.metro-text {
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 275px;
  padding-top: 55px;
  padding-left: 65px;
  padding-bottom: 55px;
  padding-right: 80px;
}

.metro-title,
.metro-content,
.metro-footer {
  text-align: left;
}

.metro-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #212121;
  margin-bottom: 20px;
}

.metro-content {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  margin-bottom: 30px;
}

.metro-footer {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #51b736;
  text-decoration: none;
}

.metro-upper-pic,
.metro-lower-pic {
  display: block;
}

.content-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.price-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #282828;
  margin-bottom: 50px;
}

.price {
  border: 1px solid #bdbdbd;
  margin-right: 10px;
  margin-left: 10px;
}

.price:first-child {
  margin-left: 0;
}

.price:last-child {
  margin-right: 0;
}

.price-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.price:hover {
  border: 1px solid #bdbdbd7e;
}

.price:hover .price-header {
  background-color: #bdbdbd7e;
}

.price-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
  padding-top: 22px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.price-text {
  padding-top: 14px;
  padding-bottom: 22px;
  max-width: 165px;
  font-family: "Open Sans", sans-serif;
  color: #bdbdbd;
  font-size: 12px;
  text-align: center;
}

.price-cost {
  font-size: 40px;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.price-choose {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  font-weight: bolder;
}

.content-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe-header {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #757575;
  margin-bottom: 55px;
}

.subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.subscribe-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe-input {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background-color: #424242;
  border: none;
}

.subscribe-input::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input:focus {
  background-color: #42424200;
}

.subscribe-button {
  background-color: #51b736;
  color: #ffffff;
  max-width: 150px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.subscribe-button:hover {
  background-color: #52b736c4;
}

.subscribe-validation {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contacts-block {
  margin-right: 105px;
}

.feedback-block {
  width: 100%;
  max-width: 490px;
}

.contacts-header,
.feedback-header {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #282828;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contacts-map {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  min-width: 405px;
}

.adress-header {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  font-weight: bolder;
  margin-bottom: 20px;
}

.contacts-adress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contacts-location,
.contacts-mail,
.contacts-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.contacts-location:not(:last-child),
.contacts-mail:not(:last-child),
.contacts-phone:not(:last-child) {
  margin-bottom: 18px;
}

.location-title,
.mail-title,
.phone-title {
  padding-left: 25px;
  max-width: 300px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #757575;
}

.feedback-button {
  background-color: #51b736;
  color: #ffffff;
  min-width: 150px;
  border: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 150px;
  height: 35px;
}

.feedback-button:hover {
  background-color: #52b736c4;
}

.feedback-name::-webkit-input-placeholder,
.feedback-mail::-webkit-input-placeholder,
.feedback-textcontent::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.feedback-name:-ms-input-placeholder,
.feedback-mail:-ms-input-placeholder,
.feedback-textcontent:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.feedback-name::-ms-input-placeholder,
.feedback-mail::-ms-input-placeholder,
.feedback-textcontent::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.feedback-name::placeholder,
.feedback-mail::placeholder,
.feedback-textcontent::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.feedback-validator {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

.feedback-name,
.feedback-mail,
.feedback-textcontent {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 2px;
  background-color: #ececec;
  border: none;
}

.feedback-textcontent {
  height: 180px;
  margin-bottom: 20px;
  overflow: auto;
}

.feedback-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedback-comment {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: #757575;
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #212121;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  width: 51px;
  height: 51px;
}

.footer-input::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.footer-input:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.footer-input::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.footer-input::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.footer-validation {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

.footer-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-input {
  width: 265px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.footer-button {
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.footer-header {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}

.content-index {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #bdbdbd;
  margin-bottom: 10px;
}

.followus-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content-in {
  margin-right: 15px;
}

.content-in:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .section-right-side {
    padding-left: 50px;
  }
  .section-left-side {
    padding-right: 50px;
  }
  .metro, .metro-reverse {
    display: block;
  }
  .content-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .price {
    margin-left: 0;
    margin-right: 10px;
  }
  .price:last-child {
    margin-right: 0;
  }
  .contacts-block {
    margin-right: 50px;
  }
}

@media (max-width: 320px) {
  .section-phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-upper {
    margin-bottom: 0;
  }
  .section-left-side {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 25px;
  }
  .section-right-side {
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 25px;
  }
  .section-side-up,
  .section-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-text-content {
    text-align: center;
  }
  .metro, .metro-reverse {
    display: block;
  }
  .metro-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .content-price {
    display: block;
  }
  .price {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .price-title {
    margin-bottom: 25px;
  }
  .subscribe-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .subscribe-input {
    margin-bottom: 10px;
  }
  .subscribe-button {
    width: 100%;
    max-width: 100%;
  }
  .contacts {
    display: block;
  }
  .contacts-block {
    margin-right: 0;
  }
  .contacts-adress {
    margin-bottom: 20px;
  }
  .contacts-map {
    min-width: 100%;
  }
  .header-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon-home,
  .footer-logo {
    margin-bottom: 10px;
  }
  .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-content {
    margin-bottom: 30px;
  }
  .footer-header,
  .product-content,
  .content-index {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.section, .section-dark {
  padding-top: 105px;
  padding-bottom: 105px;
  width: 100%;
}

.section-dark {
  background-color: #282828;
}

.container, .container-tight {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-tight {
  max-width: 800px;
}
