/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #757575;
}

.container, .container-tight {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-home {
  display: block;
  width: 35px;
  height: 35px;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
}

.nav-item {
  padding-right: 50px;
}

.nav-link {
  max-width: 44px;
  min-height: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.63;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}

.section-upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.section-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #282828;
  max-width: 245px;
  margin-bottom: 25px;
}

.section-header-text {
  max-width: 485px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #bdbdbd;
}

.section-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pic-phone {
  display: block;
  border-radius: 5px;
}

.section-left-side {
  text-align: right;
  padding-right: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-left-side-up {
  margin-bottom: 50px;
}

.section-right-side-up {
  margin-bottom: 50px;
}

.section-right-side {
  text-align: left;
  padding-left: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-text-left,
.section-text-right {
  max-width: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #bdbdbd;
}

.section-upper-side,
.section-upper-side-down {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #757575;
  margin-bottom: 25px;
}

.metro, .metro-reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.metro-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.metro, .metro-reverse {
  margin-bottom: 35px;
}

.metro-text {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 275px;
  padding-top: 55px;
  padding-left: 65px;
  padding-bottom: 55px;
  padding-right: 80px;
}

.metro-title,
.metro-content,
.metro-footer {
  text-align: left;
}

.metro-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #212121;
  margin-bottom: 20px;
}

.metro-content {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  margin-bottom: 30px;
}

.metro-footer {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #51b736;
  text-decoration: none;
}

.metro-upper-pic,
.metro-lower-pic {
  display: block;
}

.content-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.price-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #282828;
  margin-bottom: 50px;
}

.price {
  border: 1px solid #bdbdbd;
  margin-right: 10px;
  margin-left: 10px;
}

.price-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.price-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
  padding-top: 22px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.price-text {
  padding-top: 14px;
  padding-bottom: 22px;
  max-width: 165px;
  font-family: "Open Sans", sans-serif;
  color: #bdbdbd;
  font-size: 12px;
  text-align: center;
}

.price-cost {
  font-size: 40px;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}

.price-choose {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  font-weight: bolder;
}

.content-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe-header {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #757575;
  margin-bottom: 55px;
}

.subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.subscribe-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe-input {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background-color: #424242;
  border: none;
}

.subscribe-input::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-input::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.subscribe-button {
  background-color: #51b736;
  color: #ffffff;
  max-width: 150px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.subscribe-validation {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

.section-contacts-feedback {
  height: 650px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.container-contacts-feedback {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-top: 110px;
}

.section-contacts-feedback-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-contacts-header,
.section-feedback-header {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #282828;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contacts-map {
  display: block;
  margin-bottom: 25px;
}

.section-contacts-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-contacts-contain-header {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  font-weight: bolder;
  margin-bottom: 20px;
}

.section-contacts-adress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-contacts-location,
.section-contacts-mail,
.section-contacts-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.section-contacts-location-title,
.section-contacts-mail-title,
.section-contacts-phone-title {
  padding-left: 25px;
  max-width: 155px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #757575;
}

.feedback-input-button {
  background-color: #51b736;
  color: #ffffff;
  min-width: 150px;
  border: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 150px;
  height: 35px;
}

#feedback-input-name::-webkit-input-placeholder,
#feedback-input-mail::-webkit-input-placeholder,
#feedback-input-textcontent::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#feedback-input-name:-ms-input-placeholder,
#feedback-input-mail:-ms-input-placeholder,
#feedback-input-textcontent:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#feedback-input-name::-ms-input-placeholder,
#feedback-input-mail::-ms-input-placeholder,
#feedback-input-textcontent::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#feedback-input-name::placeholder,
#feedback-input-mail::placeholder,
#feedback-input-textcontent::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.feedback-input-name-validator,
.feedback-input-mail-validator,
.feedback-input-textcontent-validator {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

#feedback-input-name,
#feedback-input-mail,
#feedback-input-textcontent {
  width: 490px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 2px;
  background-color: #ececec;
  border: none;
}

#feedback-input-textcontent {
  height: 180px;
  margin-bottom: 15px;
}

.feedback-input-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feedback-input-comment {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bolder;
  color: #757575;
}

.footer {
  height: 165px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: #212121;
}

.footer-container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-top: 45px;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  width: 51px;
  height: 51px;
}

#footer-subscribe-input::-webkit-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#footer-subscribe-input:-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#footer-subscribe-input::-ms-input-placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

#footer-subscribe-input::placeholder {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #bdbdbd;
}

.footer-subscribe-validation {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  padding-top: 8px;
  padding-left: 10px;
  display: none;
}

.footer-subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#footer-subscribe-input {
  width: 265px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.footer-subscribe-button {
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#footer-subscribe-input:hover,
.footer-subscribe-button:hover {
  border: 1px solid blue;
}

.footer-product-header,
.footer-contact-header,
.footer-followus-header,
.footer-subscribe-header {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-product-content-index,
.footer-contact-content-index,
.footer-followus-content-index {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #bdbdbd;
  margin-bottom: 10px;
}

.footer-followus-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer-followus-content-in {
  margin-right: 15px;
}

.section, .section-dark {
  padding-top: 105px;
  padding-bottom: 105px;
}

.section-dark {
  background-color: #282828;
}

.container, .container-tight {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-tight {
  max-width: 800px;
}
