/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header-content {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: #757575;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 100px;
  padding-top: 14px;
}

.nav-item,
.nav-search {
  padding-left: 60px;
  padding-top: 10px;
}

.nav-search {
  padding-left: 380px;
}

.nav-link {
  width: 44px;
  height: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.63;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.section,
.section-color {
  height: 800px;
  border: solid 1px #757575;
  position: relative;
}

.section-color {
  background-color: #282828;
}

.section-upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
}

.section-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #282828;
  max-width: 245px;
}

.section-header-text {
  margin-top: 25px;
  max-width: 485px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #bdbdbd;
}

.section-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
}

.section-text-left,
.section-text-right {
  margin-top: 25px;
  max-width: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #bdbdbd;
}

.section-upper-side,
.section-upper-side-down {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #757575;
  margin-top: 100px;
}

.section-upper-side-down {
  margin-top: 50px;
}

.section-left-side {
  text-align: right;
  margin-right: 140px;
}

.section-right-side {
  text-align: left;
  margin-left: 140px;
}

.metro-upper,
.metro-lower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.metro-upper {
  margin-top: 105px;
}

.metro-lower {
  margin-top: 35px;
}

.metro-upper-left {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 275px;
  width: 340px;
}

.metro-title,
.metro-content,
.metro-footer {
  margin-left: 65px;
  text-align: left;
  width: 200px;
}

.metro-title {
  margin-top: 55px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #212121;
}

.metro-content {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
}

.metro-footer {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #51b736;
  text-decoration: none;
}

.content-price-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #282828;
  margin-top: 105px;
}

.content-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 50px;
}

.price {
  border: 1px solid black;
  width: 235px;
  height: 405px;
}
