@import "components/reset.scss";
@import "components/header.scss";
@import "components/section-info.scss";

$font-family: 'Open Sans', sans-serif;



.footer-content {
    height: 165px;
    background-color: #212121;
}



.section,
.section-color,
.section-price,
.section-sub,
.section-contacts-feedback {
    height: 800px;
    position: relative;
}

.section-color {
    background-color: #282828;
}

.section-price {
    height: 700px;
}

.section-sub {
    height: 345px;
    background-color: #282828;
}

.section-contacts-feedback {
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.metro-upper,
.metro-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.metro-upper {
    margin-top: 105px;
}

.metro-lower {
    margin-top: 35px;
}

.metro-upper-left {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 340px;
}

.metro-title,
.metro-content,
.metro-footer {
    margin-left: 65px;
    text-align: left;
    width: 200px;
}

.metro-title {
    margin-top: 55px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 12px;
    color: #212121;
}

.metro-content {
    margin-top: 20px;
    font-family: $font-family;
    font-size: 12px;
    color: #757575;
}

.metro-footer {
    margin-top: 30px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 10px;
    color: #51b736;
    text-decoration: none;
}

.content-price-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $font-family;
    font-weight: bold;
    font-size: 40px;
    color: #282828;
    margin-top: 105px;
}

.content-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 70px;
}

.price {
    border: 1px solid #bdbdbd;
    width: 235px;
    height: 405px;
}

.price-column-header {
    height: 50px;
    background-color: #bdbdbd;
    font-family: $font-family;
    font-size: 12px;
    line-height: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.price-column-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding-top: 15px;
}

.price-column-content-text {
    margin-top: 5px;
    max-width: 165px;
    font-family: $font-family;
    color: #bdbdbd;
    font-size: 12px;
    text-align: center;
}

.price-column-cost {
        font-size: 40px;
        color: #282828;
        font-family: $font-family;
}

.price-column-choose {
    font-family: $font-family;
    font-size: 12px;
    color: #bdbdbd;
    font-weight: bolder;
    margin-top: 32px;
}

.section-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header {
    max-width: 765px;
    line-height: 1.5;
    text-align: center;
    font-family: $font-family;
    font-size: 16px;
    color: #757575;
}

.sub-submit {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.sub-submit-input {
    width: 510px;
    height: 35px;
    border-radius: 2px;
    background-color: #424242;
    border: none;
}

.sub-submit-input::placeholder,
#feedback-input-name::placeholder,
#feedback-input-mail::placeholder,
#feedback-input-textcontent::placeholder,
#footer-subscribe-input::placeholder {
    padding-left: 20px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #bdbdbd;
}

.sub-submit-button,
.feedback-input-button {
    background-color: #51b736;
    color: #ffffff;
    min-width: 150px;
    border: none;
    border-radius: 2px;
    font-family: $font-family;
    font-weight: bold;
}

.feedback-input-button {
    width: 150px;
    height: 35px;
}

.sub-submit-validation,
.feedback-input-name-validator,
.feedback-input-mail-validator,
.feedback-input-textcontent-validator,
.footer-subscribe-validation {
    color: #bdbdbd;
    font-family: $font-family;
    padding-top: 8px;
    padding-left: 10px;
    display: none;
}

.section-contacts,
.section-feedback {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-contacts {
    padding-left: 85px;
}

.section-feedback {
    padding-right: 85px;
}

.section-contacts-header,
.section-feedback-header {
    font-family: $font-family;
    font-size: 30px;
    color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contacts-map {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-contacts-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.section-contacts-contain-header {
    font-family: $font-family;
    font-size: 12px;
    color: #757575;
    font-weight: bolder;
    padding-bottom: 20px;
}

.section-contacts-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.section-contacts-location,
.section-contacts-mail,
.section-contacts-phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 18px;
}

.section-contacts-location-title,
.section-contacts-mail-title,
.section-contacts-phone-title {
    padding-left: 25px;
    max-width: 155px;
    font-family: $font-family;
    font-size: 11px;
    color: #757575;
}

#feedback-input-name,
#feedback-input-mail,
#feedback-input-textcontent {
    width: 490px;
    height: 40px;
    margin-top: 25px;
    border-radius: 2px;
    background-color: #ececec;
    border: none;
}

#feedback-input-textcontent {
    height: 180px;
    margin-bottom: 15px;
}

.feedback-input-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback-input-comment {
    font-family: $font-family;
    font-size: 10px;
    font-weight: bolder;
    color: #757575;
}

.footer-content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-subscribe-input {
    width: 265px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #dadada;
    border-radius: 2px;
}

.footer-subscribe-button {
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid #dadada;
    border-radius: 2px;
}

#footer-subscribe-input:hover,
.footer-subscribe-button:hover {
    border: 1px solid blue;
}

.footer-product-header,
.footer-contact-header,
.footer-followus-header,
.footer-subscribe-header {
    font-family: $font-family;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-product-content-index,
.footer-contact-content-index,
.footer-followus-content-index {
    font-family: $font-family;
    font-size: 11px;
    color: #bdbdbd;
    margin-bottom: 10px;
}

.footer-followus-content {
    display: flex;
    flex-direction: row;
}

.footer-followus-content-in {
    margin-right: 15px;
}