.btn {
  @extend .uppercase;
  @extend .text-center;
  @extend .flex;
  @extend .items-center;
  @extend .justify-center;
  padding: 0 24px;
  line-height: 28px;
  font-size: 12px;
  background-color: $green;
  color: $white;
  border: solid 2px $green;
  transition: $transition-speed;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $green-dark;
    border-color: $green-dark;
  }

  &--green {
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $green;
    }
  }
  &--medium-grey {
    background-color: $grey-medium;
    border-color: $grey-medium;
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $grey-dark;
    }
  }
  &--dark-grey {
    background-color: $grey-dark;
    border-color: $grey-dark;
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $black;
    }
  }
  &--wide {
    display: block;
    width: 100%;
  }
}
