.search {
  @extend .flex;
  position: relative;
  width: 100%;
  max-width: 500px;
}

.search-btn {
  @extend .flex;
  @extend .justify-center;
  @extend .items-center;
  flex: 0 0 40px;
  padding: 0 13px;
  transition: $transition;
  &:hover {
    color: $green;
  }
}

.search-input {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 15px;
  line-height: 32px;
  background-color: $white;
  font-size: 14px;
  &::placeholder {
    color: $grey-dark;
  }
}