$font-family: 'Open Sans', sans-serif;

.section-contacts-feedback {
    height: 650px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container-contacts-feedback {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 110px;
}

.section-contacts-feedback-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-contacts-header,
.section-feedback-header {
    font-family: $font-family;
    font-size: 30px;
    color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.contacts-map {
    display: block;
    margin-bottom: 25px;
}

.section-contacts-contain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.section-contacts-contain-header {
    font-family: $font-family;
    font-size: 12px;
    color: #757575;
    font-weight: bolder;
    margin-bottom: 20px;
}

.section-contacts-adress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.section-contacts-location,
.section-contacts-mail,
.section-contacts-phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 18px;
}

.section-contacts-location-title,
.section-contacts-mail-title,
.section-contacts-phone-title {
    padding-left: 25px;
    max-width: 155px;
    font-family: $font-family;
    font-size: 11px;
    color: #757575;
}

.feedback-input-button {
    background-color: #51b736;
    color: #ffffff;
    min-width: 150px;
    border: none;
    border-radius: 2px;
    font-family: $font-family;
    font-weight: bold;
    width: 150px;
    height: 35px;
}

#feedback-input-name::placeholder,
#feedback-input-mail::placeholder,
#feedback-input-textcontent::placeholder {
    padding-left: 20px;
    font-family: $font-family;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #bdbdbd;
}

.feedback-input-name-validator,
.feedback-input-mail-validator,
.feedback-input-textcontent-validator {
    color: #bdbdbd;
    font-family: $font-family;
    padding-top: 8px;
    padding-left: 10px;
    display: none;
}

#feedback-input-name,
#feedback-input-mail,
#feedback-input-textcontent {
    width: 490px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 2px;
    background-color: #ececec;
    border: none;
}

#feedback-input-textcontent {
    height: 180px;
    margin-bottom: 15px;
}

.feedback-input-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback-input-comment {
    font-family: $font-family;
    font-size: 10px;
    font-weight: bolder;
    color: #757575;
}