$font-family: 'Open Sans', sans-serif;

.section-upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
}

.section-header {
    font-family: $font-family;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #282828;
    max-width: 245px;
    margin-bottom: 25px;
}

.section-header-text {
    max-width: 485px;
    width: 100%;
    font-family: $font-family;
    font-size: 14px;
    text-align: center;
    color: #bdbdbd;
}

.section-phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic-phone {
    display: block;
    border-radius: 5px;
}

.pic-phone:hover {
    opacity: 0.7;
}

.section-left-side {
    text-align: right;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-side-up {
    margin-bottom: 50px;
}

.section-right-side {
    text-align: left;
    padding-left: 140px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-text-content {
    width: 150px;
    font-family: $font-family;
    font-size: 10px;
    color: #bdbdbd;
}

.section-text-title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 10px;
    color: #757575;
    margin-bottom: 25px;
}