.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &--clickable {
    cursor: pointer;
    transition: $transition;
  }
}

.icon-menu {
  width: 24px;
  height: 19px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxOSI+ICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTS45NjEgMTZIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41ek0uOTYxIDhIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41ek0uOTYxIDBIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41eiIvPjwvc3ZnPg==);
  .nav-link:hover & {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxOSI+ICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI2U5NTIxYiIgZD0iTS45NjEgMTZIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41ek0uOTYxIDhIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41ek0uOTYxIDBIMjMuMDRjLjUzIDAgLjk2LjY3Mi45NiAxLjUgMCAuODI5LS40MyAxLjUtLjk2IDEuNUguOTYxYy0uNTMgMC0uOTYtLjY3MS0uOTYtMS41IDAtLjgyOC40My0xLjUuOTYtMS41eiIvPjwvc3ZnPg==);
  }
}
