body,
html {
  margin: 0;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: $font-size;
}

.body * {
  box-sizing: border-box;
  outline: 0;
  &.active.focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &:active:focus,
  &:focus {
    outline: none !important;
  }
}

.clearfix {
  &::after,
  &::before {
    display: table;
    clear: both;
    content: "";
  }
}

::-webkit-file-upload-button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

.m-hidden {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
}

a {
  text-decoration: none;
  text-transform: inherit;
  color: inherit;
  font-weight: inherit;
  &:hover,
  &:focus {
    color: currentColor;
  }
}

input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
}

input {
  border: none;
  box-shadow: none;
}