.title {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.title-1 {
  @extend .title;
  font-size: 28px;
}

.title-2 {
  @extend .title;
  font-size: 24px;
}

.title-3 {
  @extend .title;
  font-size: 20px;
}

.title-4 {
  @extend .title;
  font-size: 18px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-underline {
  text-decoration: underline;
}